.side-menu {
    background-color: #f5f5f5;
    padding: 20px;
  
    .category-list {
      list-style-type: none;
      padding: 0;
  
      .category-item {
        margin-bottom: 5px;
  
        &:hover {
          cursor: pointer;
          color: #007bff;
          font-weight: bold;
        }
      }
    }
  }
  